.staff-display {
    header {
        padding-bottom: 10px;
        border-bottom: 1px solid grey;
        h1 {
            font-size: 36px;
            color: rgb(109, 109, 109);
            text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.711);
        }

        
    }
}