.tracker-container {
    header {
        padding-bottom: 10px;
        border-bottom: 1px solid grey;
        display: flex;
        align-items: center;
        justify-content: space-between;
        

        >div {
            display: flex;
            align-items: center;
            h1 {
                margin-bottom: 5px;
            }
        }

        

        
        button {
            height: 30px;
            background: $button-color;
            width: 150px;
            overflow: hidden;
            margin: 10px 0;
            font-size: 16px;
            color: white;
            cursor: pointer;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;

            svg {
                position: absolute;
                top: -5px;
                left: 20px;

                circle {
                   stroke: white 4px;
                }

                
            }
        }
        
        
        h1 {
            margin:0 0px 0 0;
            font-size: 36px;
            color: rgb(109, 109, 109);
            text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.711);
        }

        select {
            margin-left: 10px;
            font-size: 20px;
            padding-left: 10px;
            height: 36px;
            color: rgb(54, 54, 54);
            border: solid 2px rgba(80, 169, 220, 0.993);
            border-radius: 2px;
        }
    }

    .editable-assignment-container {
        > div {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    h2 {
        font-size: 24px;
        margin: 10px 0;
    }

    .assignment-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        font-size: 20px;
        background: rgb(219, 218, 218);
        box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.418);
        margin: 10px 0;

        .assignment {
            font-size: 22px;
            font-weight: 900;
            cursor: pointer;
        }

        .assignment.active {
            color: green;
            text-shadow: 0 0 5px green;
            
        }

        .assignment.inactive {
            color: grey;
        }

        > div:not(:last-child) {
            flex: 1;
        }
        
    }
}