@import url('https://fonts.googleapis.com/css?family=Montserrat');

main {
    font-family: 'Montserrat', sans-serif;
    padding-top: 80px;

    > div {
        max-width: 1600px;
        padding: 20px 15px;
        width: 100%;
        margin: 0 auto;
        background: blue;
        min-height: 100vh;
    }

}

@media (max-width: 599px){

}




@import './styles/_header.scss';
@import './styles/_landing.scss'