@import url('https://fonts.googleapis.com/css?family=Montserrat');

main {
    font-family: 'Montserrat', sans-serif;
    padding-top: 80px;
    background: rgb(236, 236, 236);

    > div {
        max-width: 1300px;
        padding: 20px 15px;
        width: 100%;
        margin: 0 auto;
        min-height: calc(100vh - 80px);
    }

}

@media (max-width: 599px){

}


@import './styles/_variables.scss';
@import './styles/_header.scss';
@import './styles/_home.scss';
@import './styles/_student-card.scss';
@import './styles/_dashboard.scss';
@import './styles/_student-container.scss';
@import './styles/_classlist.scss';
@import './styles/_assessment.scss';
@import './styles/_assessmentStudentView.scss';
@import './styles/_staff.scss';
@import './styles/_tracker.scss';
@import './styles/student_profile';