@import url("https://fonts.googleapis.com/css?family=Montserrat");
main {
  font-family: 'Montserrat', sans-serif;
  padding-top: 80px;
  background: #ececec; }
  main > div {
    max-width: 1300px;
    padding: 20px 15px;
    width: 100%;
    margin: 0 auto;
    min-height: calc(100vh - 80px); }

.student-container .st-dis-header-container .header-and-back-button-container, .student-assessment-display .st-dis-header-container .header-and-back-button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end; }

.header-container {
  height: 80px;
  background: #444444;
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  left: 0;
  font-family: 'Montserrat', sans-serif;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.404); }
  .header-container > div {
    max-width: 1600px;
    padding: 0 15px;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .header-container > div .header-logo img {
      width: 300px;
      border-right: grey solid 1px;
      padding-right: 15px; }
  .header-container .nav-links-desktop {
    width: 650px;
    height: 100%; }
    .header-container .nav-links-desktop > ul {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      height: 100%; }
      .header-container .nav-links-desktop > ul .sub-menu:hover .sub-header-menu {
        height: 150px;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px; }
      .header-container .nav-links-desktop > ul li {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 20px;
        height: 100%;
        font-size: 22px;
        position: relative; }
        .header-container .nav-links-desktop > ul li a, .header-container .nav-links-desktop > ul li span {
          color: white;
          text-decoration: none; }
        .header-container .nav-links-desktop > ul li span {
          cursor: context-menu; }
        .header-container .nav-links-desktop > ul li a {
          cursor: pointer; }
        .header-container .nav-links-desktop > ul li .sub-header-menu {
          position: absolute;
          height: 0;
          overflow: hidden;
          width: 200px;
          background: #444444;
          top: 75px;
          left: -20px;
          transition: .3s;
          box-shadow: 0 4px 5px rgba(0, 0, 0, 0.404); }
          .header-container .nav-links-desktop > ul li .sub-header-menu > div {
            height: 150px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly; }
  .header-container .nav-links-mobile-container {
    display: none; }
  @media (max-width: 900px) {
    .header-container .nav-links-desktop {
      display: none; }
    .header-container .nav-links-mobile-container {
      display: flex;
      position: relative; }
      .header-container .nav-links-mobile-container .hamburger-icon {
        position: absolute;
        top: -12px;
        right: 0px;
        z-index: 2;
        cursor: pointer; }
      .header-container .nav-links-mobile-container .links {
        position: fixed;
        padding: 80px 20px 20px;
        right: 0;
        top: 0;
        height: 100vh;
        width: 300px;
        background: #444444;
        transition: .3s;
        border-left: grey 1px solid; }
        .header-container .nav-links-mobile-container .links ul {
          width: 100%; }
          .header-container .nav-links-mobile-container .links ul li {
            border-bottom: solid 1px #646464;
            padding: 10px;
            text-align: center;
            font-size: 20px; }
            .header-container .nav-links-mobile-container .links ul li a {
              color: white;
              text-decoration: none;
              font-family: 'Montserrat', sans-serif; }
          .header-container .nav-links-mobile-container .links ul li:hover {
            border-bottom: solid 1px #4b4b4b;
            cursor: pointer; }
          .header-container .nav-links-mobile-container .links ul li:first-child {
            border-top: solid 1px #646464; }
      .header-container .nav-links-mobile-container .hide {
        transform: translate(300px, 0px); } }

.home-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .home-container .login-display {
    width: 330px;
    height: 300px;
    background: #3c3c3c;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.411);
    border-radius: 2px;
    border: solid 2px #aaaaaa;
    transition: .3s; }
    .home-container .login-display > div img {
      padding: 0 15px;
      width: 100%; }
    .home-container .login-display h1 {
      font-size: 22px;
      margin-bottom: 10px;
      color: #c5c4c4; }
    .home-container .login-display input, .home-container .login-display button {
      margin: 5px 0;
      font-size: 16px; }
    .home-container .login-display input {
      width: 80%;
      padding-left: 10px;
      height: 30px;
      color: #363636;
      border: solid 1px #e9e9e9;
      border-radius: 2px;
      background-color: #e9e9e9; }
    .home-container .login-display input:focus {
      outline-color: rgba(220, 80, 162, 0); }
    .home-container .login-display button {
      color: white;
      border: none;
      height: 40px;
      width: 100px;
      border-radius: 2px;
      background-color: #50a9dc;
      box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.404);
      cursor: pointer; }
  .home-container .login-display:hover {
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.411); }

.mapped-student-container a {
  margin: 10px;
  text-decoration: none;
  color: #0072a7;
  text-shadow: 0.5px 0.5px 0.4px rgba(0, 0, 0, 0.393); }

.mapped-student-container header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 30px 50px;
  font-size: 22px;
  border-bottom: 1px grey solid; }

.mapped-student-container .student-card-container {
  width: 100%;
  background: #d8d8d8;
  display: flex;
  justify-content: space-between;
  padding: 15px 0px 15px 15px;
  align-items: center;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.418); }
  .mapped-student-container .student-card-container span {
    font-size: 18px; }
  .mapped-student-container .student-card-container .percentages-container {
    display: flex;
    align-items: center;
    position: relative; }
    .mapped-student-container .student-card-container .percentages-container .comps-left {
      position: absolute;
      right: 0;
      left: 20px;
      width: 55px;
      top: 55%;
      font-size: 17px;
      margin: 0 auto; }

.dashboard-container {
  width: 100%;
  min-height: calc(100vh - 160px); }
  .dashboard-container header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid grey;
    padding-bottom: 5px; }
  .dashboard-container header > div {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center; }
  .dashboard-container header > div:nth-child(2) {
    text-align: center; }
  .dashboard-container .dashboard-display {
    width: 100%; }
  .dashboard-container h1 {
    font-size: 36px;
    color: #6d6d6d;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.711); }
  .dashboard-container h2 {
    font-size: 22px;
    margin: 10px 10px 0 0;
    padding-bottom: 10px; }
  .dashboard-container .assigned-cohort, .dashboard-container .spacer {
    margin: 0 10px; }
  .dashboard-container .dashboard-name {
    margin: 0 10px 0 0; }
  .dashboard-container .overview-container {
    min-height: 400px;
    display: flex;
    padding: 10px; }
    .dashboard-container .overview-container > div {
      flex: 1;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column; }
    .dashboard-container .overview-container > div:not(:nth-child(1)) {
      flex: 4;
      display: flex;
      justify-content: center; }
    .dashboard-container .overview-container > div:not(:nth-child(2)) {
      font-size: 16px;
      padding-top: 10px; }
      .dashboard-container .overview-container > div:not(:nth-child(2)) span {
        margin: 0 10px; }
      .dashboard-container .overview-container > div:not(:nth-child(2)) select {
        margin: 0 10px;
        font-size: 16px; }
    .dashboard-container .overview-container .type-container {
      margin: 10px 0 0; }
    .dashboard-container .overview-container button {
      width: 150px;
      color: white;
      background: #50a9dc;
      font-size: 16px;
      border: none;
      border-radius: 2px;
      box-shadow: 0 4px 5px rgba(0, 0, 0, 0.411);
      margin: 10px 0; }

.student-container h1 {
  font-size: 36px;
  color: #6d6d6d;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.711); }

.student-container h2 {
  font-size: 26px;
  margin: 10px 0 0;
  padding-bottom: 10px; }

.student-container .st-dis-header-container {
  display: flex;
  margin: 10px 0 0;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid grey; }
  .student-container .st-dis-header-container .header-and-back-button-container {
    padding: 0 15px; }
    .student-container .st-dis-header-container .header-and-back-button-container button {
      height: 30px;
      background: #50a9dc;
      width: 150px;
      margin: 10px 0;
      font-size: 16px;
      color: white;
      cursor: pointer; }

.student-container .comp-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-size: 20px;
  background: #dbdada;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.418);
  margin: 10px 0; }
  .student-container .comp-container > div:not(.status-image-container) {
    flex: 1; }
  .student-container .comp-container .status-image-container {
    width: 30px;
    height: 30px; }
    .student-container .comp-container .status-image-container img {
      width: 100%;
      cursor: pointer; }

.class-list-container header {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: flex-start;
  align-items: center;
  padding: 30px 50px;
  font-size: 22px;
  border-bottom: 1px grey solid; }
  .class-list-container header select {
    margin-left: 10px;
    font-size: 20px;
    padding-left: 10px;
    height: 30px;
    color: #363636;
    border: solid 2px #50a9dc;
    border-radius: 2px; }

.class-list-container header + div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  font-size: 16px; }
  .class-list-container header + div input {
    margin: 0 10px;
    height: 30px;
    font-size: 16px;
    width: 250px; }
  .class-list-container header + div button {
    color: white;
    margin: 0 0 3px 0;
    border: none;
    height: 25px;
    font-size: 16px;
    width: 150px;
    border-radius: 2px;
    background-color: #50a9dc;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.404);
    cursor: pointer; }

.class-list-container .student-class-list-card-container {
  display: flex;
  background: #d8d8d8;
  width: 100%;
  justify-content: space-between;
  margin: 15px 0;
  padding: 15px;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.418); }

.assessment-container h1 {
  font-size: 36px;
  color: #6d6d6d;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.711); }

.assessment-container .percentages-container {
  min-width: 200px; }
  .assessment-container .percentages-container .bar-divider {
    font-size: 24px; }

.assessment-container .assessments-left {
  margin: 0 10px; }

.assessment-container .assessments-left-number {
  width: 200px;
  margin: 0 10px; }

.student-assessment-display h1 {
  font-size: 36px;
  color: #6d6d6d;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.711); }

.student-assessment-display h2 {
  font-size: 26px;
  margin: 10px 0 0;
  padding-bottom: 10px; }

.student-assessment-display .st-dis-header-container {
  display: flex;
  margin: 10px 0;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid grey; }
  .student-assessment-display .st-dis-header-container .header-and-back-button-container {
    padding: 0 15px; }
    .student-assessment-display .st-dis-header-container .header-and-back-button-container button {
      height: 30px;
      background: #50a9dc;
      width: 150px;
      margin: 10px 0;
      font-size: 16px;
      color: white;
      cursor: pointer; }

.student-assessment-display .assess-list-container .assess-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-size: 20px;
  background: #dbdada;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.418);
  margin: 10px 0; }
  .student-assessment-display .assess-list-container .assess-container > div:not(.status-image-container) {
    flex: 1; }
  .student-assessment-display .assess-list-container .assess-container .status-image-container {
    width: 30px;
    height: 30px; }
    .student-assessment-display .assess-list-container .assess-container .status-image-container img {
      width: 100%;
      cursor: pointer; }

.staff-display header {
  padding-bottom: 10px;
  border-bottom: 1px solid grey; }
  .staff-display header h1 {
    font-size: 36px;
    color: #6d6d6d;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.711); }
